[submodule "docs/sway"]
	path = docs/sway
	url = https://github.com/FuelLabs/sway.git
[submodule "docs/fuels-rs"]
	path = docs/fuels-rs
	url = https://github.com/FuelLabs/fuels-rs.git
[submodule "docs/fuel-graphql-docs"]
	path = docs/fuel-graphql-docs
	url = https://github.com/FuelLabs/fuel-graphql-docs.git
[submodule "docs/fuels-ts"]
	path = docs/fuels-ts
	url = https://github.com/FuelLabs/fuels-ts
	# branch = docs
[submodule "docs/builds/sway"]
	path = docs/builds/sway
	url = https://github.com/FuelLabs/sway.git
	# branch = gh-pages
[submodule "docs/fuels-wallet"]
	path = docs/fuels-wallet
	url = https://github.com/FuelLabs/fuels-wallet.git
	# branch = release
[submodule "docs/fuelup"]
	path = docs/fuelup
	url = https://github.com/FuelLabs/fuelup.git
[submodule "docs/fuel-specs"]
	path = docs/fuel-specs
	url = https://github.com/FuelLabs/fuel-specs.git
[submodule "docs/guides/examples/intro-to-sway"]
	path = docs/guides/examples/intro-to-sway
	url = https://github.com/FuelLabs/intro-to-sway.git
[submodule "docs/guides/examples/intro-to-predicates"]
	path = docs/guides/examples/intro-to-predicates
	url = https://github.com/FuelLabs/intro-to-predicates.git
[submodule "docs/fuel-core"]
	path = docs/fuel-core
	url = https://github.com/FuelLabs/fuel-core
[submodule "docs/nightly/sway"]
	path = docs/nightly/sway
	url = https://github.com/FuelLabs/sway.git
[submodule "docs/nightly/builds/sway"]
	path = docs/nightly/builds/sway
	url = https://github.com/FuelLabs/sway.git
[submodule "docs/nightly/fuels-rs"]
	path = docs/nightly/fuels-rs
	url = https://github.com/FuelLabs/fuels-rs.git
[submodule "docs/nightly/fuel-graphql-docs"]
	path = docs/nightly/fuel-graphql-docs
	url = https://github.com/FuelLabs/fuel-graphql-docs.git
[submodule "docs/nightly/fuel-specs"]
	path = docs/nightly/fuel-specs
	url = https://github.com/FuelLabs/fuel-specs.git
[submodule "docs/nightly/fuels-ts"]
	path = docs/nightly/fuels-ts
	url = https://github.com/FuelLabs/fuels-ts
[submodule "docs/nightly/fuels-wallet"]
	path = docs/nightly/fuels-wallet
	url = https://github.com/FuelLabs/fuels-wallet.git
[submodule "docs/sway-libs"]
	path = docs/sway-libs
	url = https://github.com/FuelLabs/sway-libs.git
	# TODO: Remove this and nightly after master syncs up with the lastest released version
	branch = master
[submodule "docs/nightly/sway-libs"]
	path = docs/nightly/sway-libs
	url = https://github.com/FuelLabs/sway-libs.git
	branch = master
[submodule "docs/sway-standards"]
	path = docs/sway-standards
	url = https://github.com/FuelLabs/sway-standards
[submodule "docs/nightly/sway-standards"]
	path = docs/nightly/sway-standards
	url = https://github.com/FuelLabs/sway-standards
[submodule "docs/chain-configuration"]
	path = docs/chain-configuration
	url = https://github.com/FuelLabs/chain-configuration
[submodule "docs/sway-by-example-lib"]
	path = docs/sway-by-example-lib
	url = https://github.com/FuelLabs/sway-by-example-lib.git
[submodule "docs/nightly/sway-by-example-lib"]
	path = docs/nightly/sway-by-example-lib
	url = https://github.com/FuelLabs/sway-by-example-lib.git
[submodule "docs/migrations-and-disclosures"]
	path = docs/migrations-and-disclosures
	url = https://github.com/FuelLabs/migrations-and-disclosures.git
[submodule "docs/nightly/migrations-and-disclosures"]
	path = docs/nightly/migrations-and-disclosures
	url = https://github.com/FuelLabs/migrations-and-disclosures.git
[submodule "docs/integration-docs"]
	path = docs/integration-docs
	url = https://github.com/FuelLabs/integration-docs
[submodule "docs/nightly/integration-docs"]
	path = docs/nightly/integration-docs
	url = https://github.com/FuelLabs/integration-docs
[submodule "docs/verified-addresses"]
	path = docs/verified-addresses
	url = https://github.com/FuelLabs/verified-addresses
[submodule "docs/nightly/verified-addresses"]
	path = docs/nightly/verified-addresses
	url = https://github.com/FuelLabs/verified-addresses
[submodule "docs/fuel-book"]
	path = docs/fuel-book
	url = https://github.com/FuelLabs/fuel-book
[submodule "docs/nightly/fuel-book"]
	path = docs/nightly/fuel-book
	url = https://github.com/FuelLabs/fuel-book
[submodule "docs/fuel-token-overview"]
	path = docs/fuel-token-overview
	url = https://github.com/FuelLabs/fuel-token-overview.git
[submodule "docs/nightly/fuel-token-overview"]
	path = docs/nightly/fuel-token-overview
	url = https://github.com/FuelLabs/fuel-token-overview.git
[submodule "docs/node-operator"]
	path = docs/node-operator
	url = https://github.com/FuelLabs/node-operator
[submodule "docs/nightly/node-operator"]
	path = docs/nightly/node-operator
	url = https://github.com/FuelLabs/node-operator.git
