@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --colors-preBg: #161616;
  --fonts-sans: "Inter", system-ui, sans-serif;
  --fonts-display: "Inter", system-ui, sans-serif;
  --fonts-mono: "Inconsolata";
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-feature-settings: "pnum" on, "onum" on, "ss04" on;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

tr > th {
  text-align: left;
}

tr > th,
tr > td {
  padding: 0 20px 0 0;
}

pre span,
code {
  font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo,
    "DejaVu Sans Mono", monospace, monospace;
  font-size: 1em;
  letter-spacing: -0.01em;
}

.fuel_logo {
  width: 40px;
}

.fuel_Button {
  letter-spacing: -0.01em;
}

img {
  max-width: 100%;
}

.fuel_Toast {
  border: 1px solid var(--colors-border);
}

ul > li > ul {
  margin: 5px 0 !important;
}

textarea {
  color: inherit !important;
}

.form-textarea:focus {
  outline: 1px solid var(--colors-inputBaseBorder) !important;
}

select {
  color: inherit !important;
}

/* Needed to remove unwanted styling from figure tag introduced by rehype-pretty-code */
figure {
  margin-block-start: 0%;
  margin-block-end: 0%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
