@font-face {
  font-family: "Calling Code";
  src: url("../../public/fonts/callingcode.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
}
@font-face {
  font-family: "Calling Code";
  src: url("../../public/fonts/callingcode.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
}

:root {
  --colors-preBg: #161616;
}

html {
  scroll-behavior: smooth;
}

body,
#__next {
  min-height: 100vh;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.05em !important;
  font-feature-settings: "pnum" on, "onum" on, "ss04" on;
}

*:focus-visible:not(input) {
  outline: 2px solid var(--colors-brand);
  border-radius: 5px;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

tr > th {
  text-align: left;
}

tr > th,
tr > td {
  padding: 0 20px 0 0;
}

pre span,
code {
  font-family: "Calling Code", monospace !important;
  font-size: 1em;
  letter-spacing: 0;
}

.fuel_logo {
  width: 40px;
}

.fuel_Button {
  letter-spacing: -0.01em;
}

img {
  max-width: 100%;
}

.fuel_Toast {
  border: 1px solid var(--colors-border);
}
