:root {
  --colors-preBg: #161616;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.05em !important;
  font-feature-settings: 'pnum' on, 'onum' on, 'ss04' on;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

tr > th {
  text-align: left;
}

tr > th,
tr > td {
  padding: 0 20px 0 0;
}

pre span,
code {
  font-family: var(--fonts-mono) !important;
  font-size: 1em;
  letter-spacing: -0.01em;
}

.fuel_logo {
  width: 40px;
}

.fuel_Button {
  letter-spacing: -0.01em;
}

img {
  max-width: 100%;
}

.fuel_Toast {
  border: 1px solid var(--colors-border);
}

ul > li > ul {
  margin: 5px 0 !important;
}

textarea {
  color: inherit !important;
}

.form-textarea:focus {
  outline: 1px solid var(--colors-inputBaseBorder) !important;
}
