name: Docs

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [published]

jobs:
  test-recipes:
    name: Check Recipe Examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: |
          npm install
          npm run test:examples

  test-docs:
    uses: FuelLabs/github-actions/.github/workflows/next-docs.yml@master
    with:
      doc-folder-path: 'docs'
      src-folder-path: 'src'

  lint-code:
    name: Lint Code
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Run lint
        run: |
          npm install
          npm run check:prod

  lint-docs:
    name: Lint Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      # RUN LINT CHECK
      - name: Lint Check
        run: |
          npm install
          npm run lint:docs:check


