name: Guides

on:
  pull_request:

jobs:
  ## SPELL CHECK ALL GUIDES
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - uses: rojopolis/spellcheck-github-actions@0.34.0
        name: Spellcheck
        with:
          config_path: .spellcheck.yml
          task_name: SPCheck

  ## LINT CHECK ALL GUIDES
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      # SETUP & INSTALL
      - name: Checkout repo
        uses: actions/checkout@v3
      - uses: FuelLabs/github-actions/setups/node@hf/fix/setup-pnpm
        with:
          node-version: 18.18.2
          pnpm-version: 8.15.7
          pnpm-recursive: false
      # RUN LINT CHECK
      - name: Lint Check
        run: markdownlint --config .markdownlint.yaml --ignore-path .markdownlintignore '**/*.mdx'

  ## QUICKSTART E2E TESTS
  quickstart-e2e-tests:
    timeout-minutes: 30
    name: Quickstart E2E Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # note: must match the names in test.spec.ts 
        guide:
          - "dev quickstart" 
          - "intro to sway"
          - "intro to predicates"

    steps:
    # SETUP
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - uses: FuelLabs/github-actions/setups/node@hf/fix/setup-pnpm
        with:
          node-version: 18.18.2
          pnpm-version: 8.15.7
          pnpm-recursive: false
      - uses: dtolnay/rust-toolchain@stable

    # INSTALLATIONS
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
      - name: Install cargo-generate
        run: cargo install cargo-generate --locked
      - name: Install Fuelup
        run: |
          curl https://install.fuel.network | sh
      - name: Modify Path
        run: echo "$HOME/.fuelup/bin:${GITHUB_PATH}" >> $GITHUB_PATH
    
    # RUN E2E TESTS
      - name: Run Playwright tests for ${{ matrix.guide }}
        run: xvfb-run --auto-servernum pnpm test:guides --grep "${{ matrix.guide }}"

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report-${{ matrix.guide }}
          path: playwright-report/
          retention-days: 30