name: "PR Checks"

on:
  pull_request:
    types: [opened, synchronize, edited, closed]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  validate-title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - run: pnpm audit --prod

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run lint
        run: |
          pnpm check:prod

  build-quickstart-contract-example:
    name: build-quickstart-contract
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: Swatinem/rust-cache@v1
      - name: Install Fuelup
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://install.fuel.network/fuelup-init.sh | sh
      - name: Modify Path
        run: echo "$HOME/.fuelup/bin:${GITHUB_PATH}" >> $GITHUB_PATH
      - name: Set Default Beta-3 Toolchain
        run: fuelup toolchain install beta-3 && fuelup default beta-3
      - name: Build Contract
        run: forc build --path ./docs/guides/examples/quickstart/counter-contract
      - name: Run contract tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path ./docs/guides/examples/quickstart/counter-contract/Cargo.toml
      - name: Check Cargo fmt & clippy
        run: |
          cd docs/guides/examples/quickstart/counter-contract
          cargo fmt --all --check
          cargo clippy --all-targets --all-features
